@font-face {
    font-family: "Emulogic";
    font-style: normal;
    src: url("./Emulogic.ttf") format("truetype");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Emulogic", sans-serif;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.navigate-text {
    font-family: "Emulogic", sans-serif;
    font-size: 8px;
    margin: 2px;    
    color: beige;
}

#form {
    /* background-color: aqua; */
    background: transparent;
    backdrop-filter: blur(4px) brightness(80%);
    border-radius: 10px;
    border: 1px solid antiquewhite;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
input {
    margin: 5px 30px;
    padding-left: 5px;
    /* margin-bottom: 13px; */
    background: transparent;
    backdrop-filter: blur(4px) brightness(80%);
    border: 1px solid antiquewhite;
    border-radius: 10px;
    color: silver;
}
#select {
    margin: 5px 30px;
    padding-left: 5px;
    /* margin-bottom: 13px; */
    background: transparent;
    backdrop-filter: blur(4px) brightness(80%);
    border: 1px solid antiquewhite;
    border-radius: 10px;
    color: silver;
}

.settings {
    margin: 10px auto;
    color: antiquewhite;
}
p {
    font-family: "Emulogic", sans-serif;
    margin: -2px 15px;
    color: antiquewhite;
}
#game {
    /* display: none; */
    position: fixed;
    z-index: 1;
}
#start_game {
    width: 80%;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 15px auto;
}
#canvas {
    font-family: "Emulogic", sans-serif;
}
